#contact-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0 auto;
   max-width: 900px !important;
 }
 
 label {
   font-weight: bold;
 }
 
 input,
 textarea {
   padding: 8px;
   margin: 8px 0;
   border-radius: 10px;
   font-size: 16px;
   width: 100%;
   box-sizing: border-box;
 }
 
 button[type="submit"] {
   background-color: var(--red);
   color: var(--base3);
   border: none;
   border-radius: 5px;
   padding: 12px 20px;
   margin-top: 16px;
   cursor: pointer;
   font-size: 16px;
   font-weight: bold;
 }
 