@font-face {
    font-family: 'Zebulon';
    src: url("{{ "/portfolio/fonts/Zebulon.woff2" | absURL }}") format('woff2');
}

header {
   font-family: 'Zebulon';
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: transparent;
   margin: 0;
}

header h1 {
   font-size: 70px;
   margin: 0;
}

header h4 {
   margin: 0;
}