{{ define "main" }}
    <link rel="stylesheet" href="{{ "/portfolio/styles/contact.css" | absURL }}">
    <h1>Let's Talk!</h1>
    <form name="contact" method="post" data-netlify="true" id="contact_form">
        <input type="hidden" name="form-name" value="contact">
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
              
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
              
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
              
        <button type="submit">Send</button>
      </form>
      
{{ end }}